<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="XA.Feature.Playground" description="XA.Feature.Playground" dependencies="XA.Foundation.Serialization" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\Playground\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

            <include name="Ribbon" database="core" path="/sitecore/content/Applications/WebEdit/Ribbons/WebEdit/Playground"/>
            <include name="HidePlaygroundStrip" database="core" path="/sitecore/client/Applications/ExperienceEditor/Pipelines/InitializePageEdit/HidePlaygroundStrip"/>
            
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>