<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <log4net>
      <appender name="LogFileAppender">
        <patch:attribute name="type">Sitecore.Playground.Logging.CustomSitecoreLogFileAppender, Sitecore.Playground</patch:attribute>
      </appender>
      <root>
        <priority>
          <patch:attribute name="value">ALL</patch:attribute>
        </priority >
      </root>
    </log4net>
  </sitecore>
</configuration>