<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Sitecore.XA.WorkaroundFactory.LookupNameLookupValue" description="Sitecore.XA.WorkaroundFactory.LookupNameLookupValue" dependencies="XA.Foundation.Serialization" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\Foundation\XA.WorkaroundFactory\LookupNameLookupValue\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
            <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">

            <include name="LookupNameLookupValue" database="core" path="/sitecore/system/Field types/List Types/Lookup Name Lookup Value List"/>
            
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>