<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <!--This an example serialization configuration that shows how to use `CustomSerializationPresetPredicate` type-->
        <!--<configuration name="CustomPreset" description="Custom serialization preset" dependencies="" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\Serialization\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Sitecore.Playground.Serialization.Predicates.CustomSerializationPresetPredicate, Sitecore.Playground.Serialization" singleInstance="true">

            <include name="Tasks" database="master" path="/sitecore/media library/Default Website">
              <excludeAdvanced templateid="{5DD87B05-6652-47D2-92D4-1718D77D8FCD}" />
            </include>
            
          </predicate>
        </configuration>-->
      </configurations>
    </unicorn>
  </sitecore>
</configuration>